<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="雄牛,云中信,p2p网贷系,p2p系统,网贷系统开发,P2P系统开发,p2p网贷系统开发,p2p网贷软件">
<meta name="description" content="">
<title>雄牛 | Xiongniu 提供互联网金融核心技术</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="${resourceUrl}/resources/css/pure.min.css" type="text/css">
<link rel="stylesheet" href="${resourceUrl}/resources/css/pure-grids-responsive.min.css" type="text/css">
<link rel="stylesheet" href="${resourceUrl}/resources/css/main.css" type="text/css">
<script src="${resourceUrl}/resources/js/jquery.min.js" type="text/javascript"></script>
<script src="${resourceUrl}/resources/js/common.js" type="text/javascript"></script>
<script src="${resourceUrl}/resources/js/template.js" type="text/javascript"></script>
</head>
<body>
<header id="header">
<div class="pure-menu pure-menu-open pure-menu-horizontal container fixed u-clearfix">
	<a class="pure-menu-heading u-pull-left logo" href="/xn-home-front" id="pure_logo">
	
	</a>
	<ul class="u-pull-right links">
		<li class="">
		<a href="/xn-home-front">首&emsp;&emsp;页</a>
		</li>
		<li class="">
		<a href="product.htm">产品介绍</a>
		</li>
		<li class="active">
		<a href="work.htm">客户案例</a>
		</li>
		<li class="">
		<a href="join.htm">诚聘英才</a>
		</li>
		<li class="">
		<a href="about.htm">关于我们</a>
		</li>
		<li><a href="contact.htm" class="pure-button button-sm action">我来测</a></li>
	</ul>
	<span class="u-pull-right menu-icon">
	<span class="icon"></span>
	</span>
</div>
</header>
<div id="ghost-header">
</div>
<aside id="aside-mobile">
<ul class="links u-list-unstyled">
	<li class="">
	<a href="index.html">首&emsp;&emsp;页</a>
	</li>
	<li class="">
	<a href="product.html">产品介绍</a>
	</li>
	<li class="active">
	<a href="work.html">客户案例</a>
	</li>
	<li class="">
	<a href="join.html">诚聘英才</a>
	</li>
	<li class="">
	<a href="about.html">关于我们</a>
	</li>
</ul>
<a href="contact.html" class="pure-button button-sm button-red contact">我来测</a>
</aside>
<div id="work">
	<section class="page-title">
	<div class="container fixed">
            客户案例 
		<small>Case</small>
	</div>
	</section>
	<section class="container fixed pure-g list" id="work_main">
	</section>
	<section class="container u-text-center footer">
	<span class="slogan">雄牛, 提供互联网金融核心技术</span>
	<a class="pure-button button-xl button-red" href="contact.htm">我来测</a>
	</section>
</div>
<footer id="footer">
<div class="container fixed u-clearfix">
	<nav class="u-pull-right">
	<ul class="links">
		<li><a href="product.htm">产品介绍</a></li>
		<li><a href="work.htm">客户案例</a></li>
		<li><a href="join.htm">诚聘英才</a></li>
		<li><a href="about.htm">关于我们</a></li>
		<li><a href="contact.htm">联系我们</a></li>
	</ul>
	</nav>
	<span class="u-pull-left copy-right">&copy; Copyright 2015 ommo.cn, All Rights Reserved.</span>
</div>
<p class="container fixed">
        浙ICP备15007990号
</p>
</footer>
<script type="text/javascript" src="${resourceUrl}/resources/js/work_code.js"></script>

</body>
</html>