@charset "utf-8";

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box; /* Firefox */
    -webkit-box-sizing: border-box; /* Safari */
}

/* 禁用iPhone中Safari的字号自动调整 */
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    font-size: 73%;
}

input {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}

section {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* 取消链接高亮 */
}

.tapArea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

/* 图片自适应 */
img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
    -ms-interpolation-mode: bicubic; /*为了照顾ie图片缩放失真*/
}


/* 初始化 */
body, div, ul, li, ol, h1, h2, h3, h4, h5, h6, input, textarea, p, dl, dt, dd, a, img, button, form, table, th, tr, td, tbody, article,
aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Microsoft YaHei;
}

li{list-style:none;}
body {
    font-size: 1.2rem;
    position: relative;
    font-family: Microsoft YaHei, '宋体', Tahoma, Arial, sans-serif;
    color: #545454;
   
  
}


.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}

.clearfix {
    zoom: 1;
}

.clearfix1:after {
    content: "";
    clear: both;
}

.clearfix1 {
    zoom: 1;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #545454;
}

a:hover {
    text-decoration: none;
}
.mr{margin-right:10px;}
.ml{margin-left:10px;}

/*人才*/
/*页头*/
.bigbox{width:1164px;margin: 0 auto;margin-top:24px;}
.header{line-height:40px;background-color:#555;color:#FFF;padding:10px 200px;font-size:12px;}
.headerone,.headertwo{float:left;margin-right:40px;}
.headerthree{float:right;}
.middle{vertical-align:middle;}
.inblock{display:inline-block;}
/*logo*/
.logoline{padding:20px 106px;background-color:#fafafa;border-bottom:1px solid #e6e6e6;}
.linefont-no{margin-right:0px;}
.linefont{float:left;margin-right:40px;}
.fc{color:#CB2A2F;}
.line{font-size:16px;margin-left:140px;}
.place-set{margin-left:20px;}
.place{display:inline-block;font-size:14px;}
.site{font-size:12px;color:#F97E11;}
.back{background-color:#E1E1E1; border-radius:20px;padding:4px 8px;}
.linefont a:hover{color:#ce3239;}

.name{border:1px solid #CCC; border-radius:6px;width:230px;padding:4px 16px;float:left;line-height:24px;}
.name li{padding:4px 0;}
.name span{float:right;}
.name a{width:100%;}

.area{margin-left:248px;}

.post{margin-top:20px;}
.post-l{background-image:url(images/ghgj.png);background-position:0% 0%;background-repeat:no-repeat;padding-left:30px;font-size:18px; }
.post-r{float:right;font-size:14px;}

.information-box{margin-top:16px;margin-bottom:16px;}
.information-l,.information-r{line-height:200%;border:1px solid #CCC;width:450px;padding-top:12px;padding-bottom:12px;padding-left:20px;font-size:16px;}
.in-one{color:#F60;display:inline-block;margin-right:20px;}

.information-l{float:left;}
.information-r{float:right;}
.in-two{font-size:14px;}
.in-three{color:#C11102;}
.in-four{color:#545454;padding-left:20px;}
/*end*/
.end{background-color:#555555;padding:20px 0;margin-top:36px;}
.end-font{color:#FFF;font-size:12px;text-align:center;line-height:20px;}


/*服务*/
/*热门服务*/
.hot-serve{background-image:url(images/ghgr.png);background-position:0% 40%;background-repeat:no-repeat;padding-left:30px;font-size:18px; }

.in-serve{line-height:200%;padding-top:12px;padding-bottom:8px;padding-right:20px;font-size:14px;width:300px;float:left;}
.serve-one{display:inline-block;margin-right:20px;}
.serve-two{font-size:14px;color:#C11102;font-size:16px;}
.serve-two{font-size:14px;color:#C11102;}

/*企业中心*/
.password{margin-top:-1px;}

.company-box{margin-top:24px;}
.bottom{margin-bottom:192px;}
.company{border:1px solid #CCC;padding:30px 20px;font-size:14px;line-height:24px;}
.com-massage{display:inline-block;background:url(images/kuktyu.png) no-repeat 0 0;padding-left:30px;margin-right:60px;}
.com-pass{background:url(images/dewr.png) no-repeat 0 0;padding-left:30px;margin-right:60px;display:inline-block;padding-right:144px;}
.com-name{display:inline-block;}
.alter{padding-left:460px;color:#0FF;}

caption{padding-bottom:20px;}
.t-box{margin:0 auto;margin-bottom:60px;border:#CCC 1px solid;text-align:center;border-collapse: collapse;}
.dst{margin-top:40px;}
.t-box a{color:#F51F1F;}
.t-box .check{color:#545454;}
.backg{background:#f0f0f0;}
.backg th, .dst td{padding:6px 80px;border:#CCC 1px solid;}

/*个人中心*/
.log-in{background:url(images/yhui.png) no-repeat 0 0;padding-left:30px;margin-right:60px;}
.binding{background:url(images/hjju.png) no-repeat 0 0;padding-left:30px;margin-right:180px;}
.grayback{background:#efefef;width:180px;height:10px;vertical-align:middle;}
.redback{background:#F00;width:60px;height:10px;}
.explain{color:#b2b2b2;font-size:12px;padding-top:12px;padding-left:30px;}

/*首页*/
.allbanner{width:100%;}
.tl{text-align:left}
.ranking-box  .tc{text-align:center;padding:0 100px;}
.tr{text-align:right;}

.ranking-box{width:610px;background:#E4E4E4;padding:20px;}
.ranking,.news{background:#849fa7;padding:10px 20px;color:#FFF;}
.ranking-l{background:url(images/weretrt.png) no-repeat 0 2px; ;padding-left:30px;font-size:18px; }
.ranking-r a,.news a{float:right;font-size:14px;color:#FFF;}

.ranking-box table,.news-box table{width:100%;}

.ranking-box td,.news-box td{border-bottom:#666 1px dotted;padding:8px 20px;}
table{border:1px solid #CCC;background:white;}

.news-box{width:510px;float:right;background:#E4E4E4;padding:20px;}
.news-l{background:url(images/efrg.png) no-repeat 0 2px; ;padding-left:30px;font-size:18px; }


/*我是服务商*/
.bread-wrap {line-height: 40px;color: #969696;}
.bread-wrap a { color: #969696;}
.bread-wrap span {color: #CB2A2F;}

.topname{font-size:18px;margin:20px 0;}
.img-box{width:213px;float:left;margin-bottom:30px;border-bottom:1px solid #e6e6e6;}
.img-box img{display:inline;}
.img-text{font-size:14px;padding:10px 0;font-weight:bold;}
.img-price{font-size:14px;color:#323232;padding-bottom:20px;}

.page { text-align: center; margin-top: 15px;}
.page li {display: inline-block;margin: 0 5px;}
.page li a {background: #fff; color: #6d6d6d;padding: 4px 10px;border: 1px solid #e7e7e6;} 
.page li.curr a { background: #CB2A2F; color: #fff;}

/*登录前招聘详情*/
.bt{border-bottom:2px solid #CB2A2F;padding-bottom:6px;}
input{border:1px solid #CCC;line-height:20px;}
.in-width{width:240px;}
.in-width1{width:96px;}
.xh{padding:8px;color:#f60;}
.wb{width:120px;}
.wb span{font-size:14px;}
.mtb{margin:14px 0;}
.sell { border: 1px solid #CCC;border-top: 2px solid #CCC;line-height: 18px;}
textarea{vertical-align:text-top;}

.cm{margin-top:24px;}

.company-head{text-align:center;}
.company-head img{width:80px;}
.company-head div{text-align:center;font-size:24px;}
.company-head span{font-size:16px;color:#ACACAC;margin:30px 0 50px 0;display:block;}


/*登陆后*/
.file-box{ position:relative;width:340px} 
.txt{ height:22px; border:1px solid #cdcdcd; width:180px;} 
.btn{ background-color:#FFF; border:1px solid #CDCDCD;height:24px; width:70px;} 
.file{ position:absolute; top:0; right:0px; height:36px; filter:alpha(opacity=0);opacity: 0;width:260px;}

.map{width:368px;} 
.hold{border: 0;
    margin: 0;
    display: inline-block;
    padding: 0 11px;
    font-size: 14px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #fff;
    background-color: #CB2A2F;
    border-radius: 3px;
    margin-right: 12px;}
.cancel{color:#CB2A2F;}
.hold-box{text-align:center;margin:40px 0 80px 0;}

/*选择简历*/
.choose-box{background:#FFF;position:fixed;top:50%;left:50%;width:300px;margin-top:-100px;margin-left:-150px;}
.topbar{line-height:30px;background:url(images/fgdfgfhh.png) repeat-x;color:white;}
.h5{padding-left:10px;}
.choose{padding:20px;border:2px solid  #CB2A2F;text-align:center;}
.my{width: 180px; margin-top: 10px;}
.jianli-box{text-align:left;margin:10px 0 40px 0;}

/*职位详情*/
/*招聘 申请职位*/
.at{margin-top:24px;}
.apply-j{background:#f0f0f0;}
.apply-j th,.at td{padding:6px 29px;border:#CCC 1px solid;}
.aj{background:#CB2A2F;padding:6px 8px;color:#FFF;font-size:16px;border-radius:2px;display:inline-block;margin-top:34px;cursor: pointer;}

/*登录前机构详情*/
.pad{margin-top:20px;}
.pad td{padding:6px 42px;border:#CCC 1px solid;}
.cd{background:#CB2A2F;padding:6px 8px;color:#FFF;font-size:14px;border-radius:2px;display:inline-block;margin-top:8px;}

/*我是服务商（）*/
.cdh{display:inline-block;padding:6px 10px;cursor: pointer;}
.cdh:hover{background:#CB2A2F;color:#FFF;font-size:14px;border-radius:2px;display:inline-block;}

/*服务详情*/
.kuandu{width:170px;}

/*我是人才*/
.rencai{margin-top:20px;}
.rencai td{padding:6px 69px;border:#CCC 1px solid;}
.rc-mt{margin-bottom:40px;}

.lg_tnav_wrap li {display: inline-block;margin-right:24px;position: relative;margin-bottom:24px;}
.lg_tnav_wrap li a.current { color: #333;border-bottom: 2px solid #CB2A2F;}
.lg_tnav_wrap li a { display: block;font-size: 18px;color: #999;line-height: 53px;
    padding: 0 5px;}
.lg_tnav_wrap li a:hover{ color: #333;border-bottom: 2px solid #CB2A2F;}

/*简历新增*/
.xz-mb{margin-bottom:16px;}

#step {
   
    height: 54px;
    margin: 40px  0;
    padding: 0 18px;
}
#step .step_num {
    position: relative;
    float: left;
    width: 29px;
    height: 23px;
    margin: 0 17px;
}
#step_1 {
    background-image:url(images/01.png);
}
#step .step_num span {
    position: absolute;
    top: 37px;
    left: 50%;
    margin-left: -50px;
    display: block;
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #555;
}
.step_line {
    float: left;
    width: 330px;
    height: 11px;
    border-bottom: 1px solid #ddd;
}
#step_2.step_disable {
    background-image:url(images/copy.png);
}
.step_imgtwo{ background-image:url(images/02.png);}
.step_imgthree{background-image:url(images/03.png);}

#step_3.step_disable{
    background-image:url(images/03gray.png);
}

/*申请资质3*/
.success-box{text-align:center;margin-top:80px;}
.smail{width:60px;padding-bottom:20px;}
.success{font-size:18px;line-height:26px;}

/*搜简历*/
.find{height:26px;}
.find-font{background:#CB2A2F;padding:4px 8px;color:#FFF;font-size:12px;border-radius:2px;display:inline-block;margin-top:8px;}

/*注册*/
.denglu,.register{color:#999;}
.denglu{margin-right:10px;border-right:1px solid #999;padding-right:20px;}
.denglu:hover{color:#fff;}
.register:hover{color:#fff;}

.login_box1{text-align:center;
    color:#839192;
	margin:50px 0;
	width:300px;
	margin:0 auto;
   }
.login_btn {    height: 36px;
    width:300px;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 0 10px;
    color: #839192;
    font-size: 14px;
    line-height: 36px;}
.login-width{ width: 195px;}
.agree{width: 280px;}
.get{padding:8px 10px;background:#CB2A2F;border-radius: 3px;color:white;margin-left:10px;width: 86px;}
.login-mtb{margin:20px 0px;}
.login-mtb a{color:#05D6B7;}
.login-font{
    width:300px;
    background:#CB2A2F;
    border-radius: 6px;
    padding: 0 10px;
    color: white;
    font-size: 14px;
    line-height: 36px;
	margin-top:12px;}

.nav-font{padding:0 100px; border-top: 2px solid #CB2A2F;position: relative;}	
.fast{font-size:18px;font-weight:bold;float:left;margin-top:30px;}
.nav-font span{float:right;margin-top:30px;}
.nav-font a{color:#CB2A2F;}

/*注册服务方*/
.file1 {
    position: relative;
    display: inline-block;
    background: #D0EEFF;
    border: 1px solid #99D3F5;
    border-radius: 4px;
    padding: 4px 12px;
    overflow: hidden;
    color: #1E88C7;
    text-decoration: none;
    text-indent: 0;
    line-height: 28px;
	vertical-align:middle;
}
.file1 input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}
.file1:hover {
    background: #AADFFD;
    border-color: #78C3F3;
    color: #004974;
    text-decoration: none;
}
.ta-l{text-align:left;margin-top:60px;}

.message-word{padding-bottom:6px;}
.message-color{color:#CB2A2F;}
.sc{line-height:28px;padding:4px 16px;border-radius:4px;background:#EAE6E6; }
.sc:hover{line-height:28px;padding:4px 16px;border-radius:4px;background:#CB2A2F;color:white;}

/*登录（需求方）*/
.big-img{background:url(images/denglu-datu.png) no-repeat;position:relative;height:600px;width:100%;}
.li-box{width:360px;height:350px;background:#fff;position:absolute;top:240px;left:56%;text-align:center;}
.member{text-align:center;font-size:16px;font-weight:bold;border-bottom: 1px solid  #E3E3E3;padding:16px 0;}
.Personal-login{background:url(images/qwe.png) no-repeat; color: #CB2A2F;border-right:1px #CCCCCC solid; padding-right:64px;}
.Personal-login.active{
    background:url(images/fgfghfgh.png) no-repeat;
    color:#5876BA;
}
.company-login{background:url(images/rtyu.png) no-repeat left center;margin-left:64px;color:#CB2A2F;}
.company-login.active{
    background:url(images/asdg.png) no-repeat left center;
    color:#5876BA;
}
.log{padding-left:24px;font-size:14px;height:18px;}
.all-login{margin:20px 20px;text-align:center;}
.all-login li{
    display: inline-block;
    cursor: pointer;
}
.lm{margin:10px 0;}
.wid{width:300px;margin:0 auto;}