<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="renderer" content="webkit">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta name="keywords" content="雄牛,云中信,p2p网贷系,p2p系统,网贷系统开发,P2P系统开发,p2p网贷系统开发,p2p网贷软件">
<meta name="description" content="">
<title>雄牛 | Xiongniu 提供互联网金融核心技术</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="${resourceUrl}/resources/css/pure.min.css" type="text/css">
<link rel="stylesheet" href="${resourceUrl}/resources/css/pure-grids-responsive.min.css" type="text/css">
<link rel="stylesheet" href="${resourceUrl}/resources/css/main.css" type="text/css">
<script src="${resourceUrl}/resources/js/jquery.min.js" type="text/javascript"></script>
<script src="${resourceUrl}/resources/js/common.js" type="text/javascript"></script>
<script type="text/javascript" src="${resourceUrl}/resources/js/slide.js"></script>
<script type="text/javascript" src="${resourceUrl}/resources/js/template.js"></script>
</head>
<body>
<header id="header">
<div class="pure-menu pure-menu-open pure-menu-horizontal container fixed u-clearfix">
	<a class="pure-menu-heading u-pull-left logo" href="/xn-home-front" id="pure_logo">
	
	</a>
	<ul class="u-pull-right links">
		<li class="active">
		<a href="/xn-home-front">首&emsp;&emsp;页</a>
		</li>
		<li class="">
		<a href="company/product.htm">产品介绍</a>
		</li>
		<li class="">
		<a href="company/work.htm">客户案例</a>
		</li>
		<li class="">
		<a href="company/join.htm">诚聘英才</a>
		</li>
		<li class="">
		<a href="company/about.htm">关于我们</a>
		</li>
		<li><a href="company/contact.htm" class="pure-button button-sm action">我来测</a></li>
	</ul>
	<span class="u-pull-right menu-icon">
	<span class="icon"></span>
	</span>
</div>
</header>
<div id="ghost-header">
</div>
<aside id="aside-mobile">
<ul class="links u-list-unstyled">
	<li class="active">
	<a href="/xn-home-front">首&emsp;&emsp;页</a>
	</li>
	<li class="">
	<a href="company/product.htm">产品介绍</a>
	</li>
	<li class="">
	<a href="company/work.htm">客户案例</a>
	</li>
	<li class="">
	<a href="company/join.htm">诚聘英才</a>
	</li>
	<li class="">
	<a href="company/about.htm">关于我们</a>
	</li>
</ul>
<a href="company/contact.htm" class="pure-button button-sm button-red contact">我来测</a>
</aside>
<!--首页banner-->
<div class="n-banner fullSlide">
	<div class="bd">
		<ul>
			<li _src="url(${resourceUrl}/resources/images/1-15050G114550-L.jpg)"><a target="_self" href="company/contact.htm"></a></li>
			<li _src="url(${resourceUrl}/resources/images/1-15050G114350-L.jpg)"><a target="_self" href="company/product.htm"></a></li>
			<li _src="url(${resourceUrl}/resources/images/1-15050G114210-L.jpg)"><a target="_self" href="company/about.htm"></a></li>
			<li _src="url(${resourceUrl}/resources/images/1-15050G114290-L.jpg)"><a target="_self" href="company/join.htm"></a></li>
		</ul>
	</div>
	<div class="hd">
		<ul>
		</ul>
	</div>
	<span class="prev"></span>
	<span class="next"></span>
</div>
<!-- 首页模块3-->
<div class="n-bd npmybs">
	<div class="f-oh p-sf-pb">
		<div class="f-w980">
			<div class="title u-text-center f36">
				先进技术架构
			</div>
			<!-- 标题 -->
			<!-- 模块2 -->
			<div class="f-oh">
				<div class="p-sf-item f-oh f-fl">
					<div class="f-cb f-bb tit pl118">
						<div class="p-cloud-icon f-fl i-file">
                                            &nbsp;
						</div>
						<h3 class="f-fl f-cr6 f-fs18 f-fwn p-cloud-ml">
                                    系统安全
						</h3>
					</div>
					<div class="f-cr6 f-fs14 f-lh20 alt">
                                    通过6大安全机制，保障系统交易安全、资金安全、数据安全
					</div>
				</div>
				<div class="p-sf-item f-oh f-fl">
					<div class="f-cb f-bb tit pl118">
						<div class="p-cloud-icon1 f-fl i-file">
                                            &nbsp;
						</div>
						<h3 class="f-fl f-cr6 f-fs18 f-fwn p-cloud-ml">
                                            便于开发
						</h3>
					</div>
					<div class="f-cr6 f-fs14 f-lh20 alt">
                                    功能模块代码100%开源，ThinkPHP框架，标准MVC结构
					</div>
				</div>
				<div class="p-sf-item f-oh f-fl">
					<div class="f-cb f-bb tit pl110">
						<div class="p-cloud-icon2 f-fl i-gear">
                                            &nbsp;
						</div>
						<h3 class="f-fl f-cr6 f-fs18 f-fwn p-cloud-ml">
                                            一站式服务
						</h3>
					</div>
					<div class="f-cr6 f-fs14 f-lh20 alt">
                                    为您提供：ICP备案、第三方接口、网站运营方案等一站式服务
					</div>
				</div>
				<div class="p-sf-item f-oh f-fl">
					<div class="f-cb f-bb tit pl90">
						<div class="p-cloud-icon3 f-fl i-lock">
                                            &nbsp;
						</div>
						<h3 class="f-fl f-cr6 f-fs18 f-fwn p-cloud-ml">
                                            专业的技术团队
						</h3>
					</div>
					<div class="f-cr6 f-fs14 f-lh20 alt">
                                    核心团队均来自国内知名互联网公司，如：网易、百度等
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- 首页模块3结束-->
<div class="home_shadow">
	<div id="homepage" class="">
		<section class="container partners border-bottom">
		<div class="title u-text-center">
			合作伙伴
		</div>
		<div id="partner_main">
		</div>
		</section>
	</div>
</div>
<div id="homepage" class="">
	<section class="section about-us">
	<div class="partners u-text-center" id="serve_customers_logo">
		<span class="label">服务客户</span>
	</div>
	</section>
</div>
<div id="homepage" class="">
	<section class="choose-us">
	<div class="container fixed u-text-center">
		<div class="text">
			<strong>提供互联网金融核心技术</strong>
		</div>
		<a class="pure-button button-xl action" href="contact.html">我来测</a>
	</div>
	</section>
</div>
<footer id="footer">
<div class="container fixed u-clearfix">
	<nav class="u-pull-right">
	<ul class="links">
		<li><a href="company/product.htm">产品介绍</a></li>
		<li><a href="company/work.htm">客户案例</a></li>
		<li><a href="company/join.htm">诚聘英才</a></li>
		<li><a href="company/about.htm">关于我们</a></li>
		<li><a href="company/contact.htm">联系我们</a></li>
	</ul>
	</nav>
	<span class="u-pull-left copy-right">&copy; Copyright 2015 ommo.cn, All Rights Reserved.</span>
</div>
<p class="container fixed">
        浙ICP备15007990号
</p>
</footer>
<script type="text/javascript" src="${resourceUrl}/resources/js/index_code.js"></script>
</body>
</html>