{{#each items}}
    <a class="wp100 mb1r" href="#">
        <div class="wp100 bg_fff b_e6_t ptb20 plr10 s_11 clearfix">
            <img class="wp38 fl mb20" src="{{picture}}">
            <div class="fr wp62 pl16">{{description}}</div>
        </div>
    </a>
{{/each}}