{{#each items}}
<a class="b_e6_b b_e6_t bg_fff show mb6" href="#">
    <div class="wp100 plr10 clearfix">
        <div class=" ptb20 fl wp36 clearfix">
            <img class="mr20 " src="{{picture}}">
            <div class="mt10 s_11 nohuanhang">姓名：{{name}} </br>职位：{{position}}</div>
        </div>
        <div class="ptb20 t-i2 wp60 fr s_11 break-word">{{description}}</div>
    </div>
</a>
{{/each}}