{{#each items}}
    <tr class="cur_pointer" code="{{code}}">
    	<td class="tl t-3dot" style="width: 340px;padding-right: 0;">{{title}}</td>
        <td class="tr">{{formatDate updateDatetime}}</td>
    </tr>
{{/each}}