{{#each items}}
    <tr class="cur_pointer">
        <td class="tl">{{name}}</td>
        <td class="tc">{{remark}}</td>
        <td class="tl t-3dot">{{slogan}}</td>
        <td class="tr">{{formatDate updateDatetime}}</td>
    </tr>
{{/each}}