<div class="slidebar bg-white am-ft-gray">
    <div class="slidebar-inner h-center slidebar-h-center">
        <div class="slidebar-indicator"></div>
        {{#each items}}
        <div class="slidebar-scale am-ft-white btn" data-value="{{value}}">{{displayValue}}</div>
        {{/each}}
    </div>
</div>